{% extends 'base.html.twig' %}

{% block title %}user index{% endblock %}

{% block body %}
    <h1>user index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>mail</th>
                <th>username</th>
                <th>role</th>
                <th>last name </th>
                <th>first name</th>
                <th>birthday</th>
                <th>sexe</th>
                <th>phone</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username}}</td>
                    <td>{{ user.userlastname}}</td>
                    <td>{{ user.userfirstname}}</td>
                    <td>{{ user.userbirthday|date('d-m-Y')}}</td>
                    <td>{{ user.userPhone}}</td>
                    {#                <td>
                                        <a href="{{ path('user_edit', {'user_id': user.getId()}) }}"><i class="fas fa-edit"></i></a>
                                    </td>#}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
